* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav ul {
  display: flex;
  column-gap: 20px;
  padding-left: 0;
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#home {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
}

.banner-content h1,
.banner-content p {
  margin-bottom: 25px;
}

.banner-content .btn {
  color: white;
  text-decoration: none;
  background-color: lightblue;
  padding: 15px 10px;
  border-radius: 5px;
}

#portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f9fafb;
  color: #334155;
  text-align: center;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 25px;
}

.portfolio-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  padding: 20px;
  background: #fff;
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 0.1);
}

#contact {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-form {
  padding: 20px;
  background-color: lightgray;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  border-radius: 5px;
}

.contact-form button {
  background-color: #3498db;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
}
